<!--//Used bootstrap styles but better replace styles into scss file-->
<section class="text-light" [formGroup]="form">
  <div class="d-flex flex-column align-items-end pt-4">
    <span>New Store</span>
    <input
      type="text"
      class="form-control mt-3"
      placeholder="Name..."
      formControlName="storeName" />
  </div>
  <div class="d-flex pt-3 pointer">
    <input
      class="form-check-input"
      type="checkbox"
      (click)="toggleInventory()"
      [checked]="isInventoryOpen" />
    <span class="ps-2 h6">Store has inventory</span>
  </div>
  <div *ngIf="isInventoryOpen">
    <div
      class="d-flex mt-3"
      *ngFor="let form of inventoryFormGroups; let i = index"
      [formGroup]="form">
      <app-inventory-options
        [form]="form"
        (addControl)="addControl()"
        (removeControl)="removeControl(i)"
        (itemClick)="setSelectedInventory($any($event), i)">
      </app-inventory-options>
    </div>
  </div>
  <button class="btn btn-success mt-3" [disabled]="form.invalid" (click)="createStore()">Save</button>
</section>
