<div class="dropdown__creation d-flex gap-2" [formGroup]="form">
  <div class="dropdown__creation--inventory d-flex">
    <input
      formControlName="name"
      type="text"
      class="dropdown__creation--input"
      placeholder="Category..." />
    <div class="dropdown__creation--controls pointer" (click)="toggleDropDown()">
<!--      //icons downloaded from bootstrap icons service-->
      <span class="icon caret-up"></span>
      <span class="icon caret-down"></span>
    </div>
    <div
      *ngIf="isDropDownOpen && dropDownItems.length"
      class="dropdown__creation--dropdown pointer mt-1">
      <ng-container *ngFor="let item of dropDownItems">
        <div
          class="dropdown-list"
          appClickOutside
          (click)="selectedItemClick($any(item))"
          [appHideOnClickOutside]="isDropDownOpen"
          (onClickOutside)="isDropDownOpen = false">
          <span class="dropdown-list__item text-dark">{{ item.name }}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <input class="form-control amount" type="text" formControlName="amount" />
  <button
    *ngIf="isLastItem"
    class="dropdown__creation--btn btn"
    [class.btn-add]="isLastItem"
    [class.btn-warning]="isLastItem"
    (click)="addFormControl()">
    <span class="icon"></span>
  </button>
  <button
    *ngIf="!isLastItem"
    class="dropdown__creation--btn btn"
    [class.btn-remove]="!isLastItem"
    [class.btn-primary]="!isLastItem"
    (click)="removeFormControl()">
    <span class="icon"></span>
  </button>
</div>
