<!--<div class="wrapper">-->
<!--  <header class="header">Header</header>-->
<!--  <nav class="nav"></nav>-->
<!--  <article class="article"></article>-->
<!--  <aside class="aside"></aside>-->
<!--  <footer class="footer">Footer</footer>-->
<!--</div>-->

<div>
 <div></div>
 <div></div>
</div>

<!--<section class="quarter d-flex flex-column align-items-center">-->
<!--  <div class="quarter__range pointer" *ngFor="let quarter of quarters" (click)="getValue(quarter)">-->
<!--    <div class="d-flex justify-content-between">-->
<!--      <h3 class="h3-16">{{ quarter.tag }} {{ quarter.endDate.getFullYear() }} {{ quarter.quarter }}</h3>-->
<!--      <input-->
<!--        [value]="quarter"-->
<!--        [checked]="selectedItem === quarter"-->
<!--        name="duration"-->
<!--        type="radio"-->
<!--        class="common-radio"-->
<!--      />-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<app-canvas-animation></app-canvas-animation>-->
<!--<app-spinner [show]="true"></app-spinner>-->
<!--<app-kippo-hover-card></app-kippo-hover-card>-->
<!--<app-painter-canvas></app-painter-canvas>-->
<!--<app-timepicker></app-timepicker>-->




















<!--<div class="app-wrapper">-->
<!--    <div class="loader-pusher">-->
<!--      <div class="spinner">-->
<!--        <div class="spinner-tail"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  <main>-->
<!--    <div class="app-body">-->
<!--      <div class="container">-->
<!--        <p class="lead">{{ 2.56 |  number | currency:'$' }}</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </main>-->
<!--</div>-->






